build/
out/
dist/

bench/data/*
bench/reports/*
!bench/data/.gitkeep
!bench/reports/.gitkeep

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
.venv
CMakeLists.txt
third_part
CMakeUserPresets.json

compile_commands.json
.cache/
.vscode/
.idea/
__pycache__/
.pytest_cache/

tests/e2e/generated/*
!tests/e2e/generated/.gitkeep